*{
    padding:0;
    margin:0;
    font-family: "微软雅黑";
}
body,html{
    width:100%;
    height:100%;
    background-color: #eed1a9;
}
/*头部：充值、会员中心、凭证*/
header{
    width:100%;
    height: 20rem;
    background-color: #ac2e17;
}
nav{
    width:100%;
    height: 20rem;
    font-size: 3.5rem;
    color: #eed1a9;
}
nav div{
    width: 33%;
    height: 100%;
    float: left;
    line-height: 10rem;
    text-align: center;
}
.userImage{
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
}
.money{
    background-size: 30%;
    background-image: url("images/money.png");
    background-position: 50% 35%;
    background-repeat: no-repeat;
}
.voucher{
    background-size: 40%;
    background-image: url("images/voucher.png");
    background-position: 50% 35%;
    background-repeat: no-repeat;
}
/*会员人数*/
article{
    width: 100%;
    height: 25rem;
    background-image: url("images/loveBackgroundCenter.png");
    background-size: 100%;
    position: relative;
}
article text{
    position: absolute;
    color: #ac2e17;
    font-size: 3rem;
    font-weight: 500;
}
article text:nth-child(1){
    top: 10.5rem;
    left: 4rem;
}
article text:nth-child(2){
    top: 10.5rem;
    right: 4rem;
}
/*按钮部分*/
section{
    width: 100%;
    height: 50rem;
    font-size: 3rem;
    color: #eed1a9;
    text-align: center;
}
.buttonTop{
    width: 50%;
    height: 23rem;
    float: left;
    line-height: 11rem;
    background-color: #ed674a;
}
.buttonCenter{
    width: 25%;
    height: 15rem;
    line-height: 15rem;
    background-color: #ed674a;
    margin-top: 1rem;
    font-size: 2.5rem;
    float: left;
}
.buttonBottom{
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    background-color: #ed674a;
    margin-top: 1rem;
    float: left;
}
.help{
    background-size: 25%;
    background-image: url("images/help.png");
    background-position: 50% 35%;
    background-repeat: no-repeat;
}
.join{
    background-size: 25%;
    background-image: url("images/join.png");
    background-position: 50% 35%;
    background-repeat: no-repeat;
}
/*底部案例展示*/
footer{
    width: 100%;
    margin: 0 auto;
}
.case{
    width: cacl(100% - 4rem);
    height: 46rem;
    background-color: #ffffff;
    margin-top: 1rem;
    padding: 2rem;
}
.caseShow{
    width: 100%;
    height: 35rem;
    border-radius: 0.5rem;
    background-image: url("images/helpPeopleShow.jpeg");
    background-size: 100%;
    margin: 0 auto;
}
.caseNumber{
    width: 100%;
    height: 8rem;
    margin-top: 3rem;
}
.caseNumber div{
    width: 30%;
    height: 8rem;
    line-height: 3rem;
    text-align: center;
}
.caseNumber div:nth-child(1){
    float: left;
}
.caseNumber div:nth-child(2){
    float: right;
}
.helpMoney,.helpPeople{
    font-size: 3rem;
    color: #ac2e17;
    font-weight: 500;
}
.helpText{
    font-size: 2.5rem;
    color: dimgrey;
}
.more{
    width: 100%;
    height: 10rem;
    background-color: #ffffff;
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 10rem;
    text-align: center;
    color: dimgrey;
}